* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #F9E7E8;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #FFC3D7;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.nav-bar h1 {
  background-color: #F15B7E;
  padding-left: 4%;
  padding-right: 0.5%;
  font-size: xx-large;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  margin-left: auto;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

.navigation a {
  color: #884C66;
}

.hero-banner {
  position: relative;
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  width: 100%;
}

.hero-banner h2 {
  position: absolute;
  bottom: 7%;
  right: 1%;
  padding: 0.2%;
  background-color: #F15B7E;
  color: #FFFFFF;
}

.page-wrapper {
  display: grid;
  grid-template-rows: 600px 600px 600px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "about-me"
    "my-projects"
    "contact-me";
}

.about-me, .my-projects, .contact-me {
  border-right: 5px solid #F15B7E;
  padding-left: 5%;
  padding-top: 2%;
}

#about, #projects, #contact {
  margin: 0px 5%;
}

.img {
  width: 70%;
  
}

.profile {
  /*grid-area: profile;*/
    width: 100%; 
    text-align: center;
}

#profile {
  display: inline-block; 
  max-width: 100%; 
  height: auto; 
  border-radius: 8px;
}

.bio {
  /*grid-area: bio;*/
  width: 100%;
  font-size: larger;
}

.about {
  margin: 0px 5%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-template-areas:
    "profile bio";
}

.contact a {
  color: #F15B7E;
  font-weight: bold;
}

.projects {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 290px 290px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "Project Placeholder 1 Project Placeholder 2"
    "Project Placeholder 3 Project Placeholder 4";
}

.horiseon-refractor {
  grid-area: horiseon;
  background-image: url(../images/horiseon.png);
}

.Firstplaceholder {
  grid-area: Placeholder1;
  background-image: url(../images/02-portfolio-2.jpg);
}

.Secondplaceholder {
  grid-area: Placeholder2;
  background-image: url(../images/02-portfolio-2.jpg);
}

.Thirdplaceholder {
  grid-area: Placeholder3;
  background-image: url(../images/02-portfolio-2.jpg);
}

.Fourthplaceholder {
  grid-area: Placeholder4;
  background-image: url(../images/02-portfolio-2.jpg);
}

.project-grid-area {
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;
margin: 1%;
cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
background-color: #F15B7E;
font-weight: bold;
color: #FFFFFF;
  border-bottom: 5px solid #FDC0B4;
}

.first-heading {
padding-top: 108%;
}

.second-heading {
  padding: 25%;
}

.contact a {
  display: inline-flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

@media only screen and (max-width: 600px) {

  .page-wrapper {
  display: grid;
    grid-template-rows: 75px 950px 100px;
grid-template-columns: 1fr;
  grid-template-areas:
      "about-me"
      "my-projects"
      "contact-me";
  }

  .about {
    grid-template-rows: 500px 500px;
  grid-template-columns: 1fr;
    grid-template-areas:
      "profile"
      "bio";
  }
  .first-heading {
  padding-top: 54%;
  }
  .projects {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 290px 290px 290px 290px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "horiseon"
      "firstplaceholder"
      "secondplaceholder"
      "thirdplaceholder"
      "fourthplaceholder";
  }
}
